.form-container {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.sign-in-title {
  color: black;
  text-align: center;
  padding-top: 30px;
  font-weight: 900;
}
.email-input {
  width: 800px;
  height: 40px;
  border-radius: 100px;
  background-color: #f5f5f5;
  border: none;

  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.email-input::placeholder {
  font-weight: bold;
  color: black;
  font-size: 15px;
}
.email-input:focus {
  outline: none;
}
