
  /* dashboard style */

.dashboard-container{
  border: 1px solid white;
  display:flex;
  flex-direction: column;
  justify-content:center;
  width: 100%;
  
}

  .flashcard-options {
    margin-top: .5rem;
  }
  
  .flashcard-option {
    margin-top: .25rem;
    color: #555;
    font-size: .75rem;
  }
  
  .flashcard-option:first-child {
    margin-top: 0;
  }

  .avatar-img{
    margin-top: 4rem;
    height:8em;
    width: 8rem;
  }
  .dashboard-description{
    color:#fff;
  }
  .dashboard-title{
    color: #fff;
  }
  .dashboard-decks-container{
    display: flex;
    flex-direction: row;
  }