/* dashboard style */

.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.flashcard-options {
  margin-top: 0.5rem;
}

.flashcard-option {
  margin-top: 0.25rem;
  color: #555;
  font-size: 0.75rem;
}

.flashcard-option:first-child {
  margin-top: 0;
}

.avatar-img {
  margin-top: 4rem;
  height: 13em;
  width: 15rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dashboard-description {
  color: #fff;
}

.dashboard-title {
  color: #fff;
  margin-top: 20px;
}

.dashboard-decks-container {
  display: flex;
  flex-direction: row;
}
.flashcard-options {
  margin-top: 0.5rem;
}

.flashcard-option {
  margin-top: 0.25rem;
  color: #555;
  font-size: 0.75rem;
}

.flashcard-option:first-child {
  margin-top: 0;
}

.dashboard-description {
  color: #fff;
}
.dashboard-title {
  color: #fff;
  font-weight: 900;
  margin-top: 80px;
}
.dashboard-categories-container {
  display: flex;
  flex-direction: row;
  margin-top: -265px;
}
