
.hero-card{
    background-image: linear-gradient(135deg rgba(255, 255, 255, 0.269),rgba(255,255,255,0))!important;
    -webkit-backdrop-filter: blur(20px)!important;
    backdrop-filter: blur(20px)!important;
    box-shadow: 0px 8px 32px 0 rgba(0, 0, 0, 0.37) !important;
    border: 1px solid rgba(255,255,255,0.18);
    border-radius: 32px;
    background-color: #262261 !important; 
    height: auto !important;
    height: 75% !important;
     /*box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	border-radius: 5px;
	background-color: rgba(255, 255, 255, .15);
	
	backdrop-filter: blur(5px); */

}
.hero-logo{
    width:60%;
    height: auto;
}
.hero-title, .hero-sub{
    color: aliceblue !important;
}

.hero-btn{
    color: #262261 !important;
background-color: #FEDA38 !important;
border: 1px solid #262261!important;
border-radius: 40px !important;

}
.hero-btn:hover, .hero-btn:focus{
    background-color: #262261 !important;
    color: #FEDA38!important;
    border: 1px solid #FEDA38!important;
}